{if $addons.social_buttons.vkontakte_enable == "Y" && $provider_settings.vkontakte.data_url}
<div id="add_soc_vkontakte"></div>
<script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script> 

<script type="text/javascript">
    (function(_, $) {
        var kontakt = document.getElementById('add_soc_vkontakte');
        kontakt.innerHTML = VK.Share.button({$provider_settings.vkontakte.data_url nofilter}); 
    }(Tygh, Tygh.$));
</script>
{/if}